@model IEnumerable<Group>

<div class="text-center">
    <h3>View your appointment</h3>
</div>

<ul>
    @foreach (var x in Model)
    {
        <li>@x.GroupId</li>
        <li>@x.Name</li>
        <li>@x.Size</li>
        <li>@x.Email</li>
        <li>@x.PhoneNumber</li>
    }
</ul>
